/* Add some custom styling for the page */
body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
}

/* Input container */
.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

label {
  margin: 10px;
}
/* Input field */
input[type="text"] {
  padding: 8px;
  margin-right: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  font-size: 16px;
  width: 200px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus {
  outline: none;
  border-color: #333;
}

/* Buttons */
button {
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 10px;
}

button:hover {
  background-color: #555;
}

/* Stack */
.stack {
    display: none;
    flex-direction: column-reverse;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 2px solid #ccc;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding: 10px;
    margin: auto auto;
  }  

/* Stack item */
.stack-item {
  margin: 5px;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

h1 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.card-header {
	font-weight: bold;
	font-size: 1.2rem;
}
.card-body {
	font-size: 0.9rem;
	height: 200px; /* Add fixed height */
	display: flex;
	flex-direction: column; /* Align content in columns */
}
.card-body p {
	flex-grow: 1; /* Allow paragraph to expand to fill space */
}
.card-body a {
	color: #007bff;
	font-weight: bold;
}
.card-body a:hover {
	text-decoration: none;
}
.card {
	/* Add margin bottom for spacing between cards */
	margin: 5px;
  width: fit-content;  
}

footer {
    margin-top: 5px;
	background-color: #333;
	color: #fff;
	padding: 30px 0;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;  
}

/* Add some custom styling for the page */

h1 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.card-header {
	font-weight: bold;
	font-size: 1.2rem;
}
.card-body {
	font-size: 0.9rem;
	height: 200px; /* Add fixed height */
	display: flex;
	flex-direction: column; /* Align content in columns */
}
.card-body p {
	flex-grow: 1; /* Allow paragraph to expand to fill space */
}
.card-body a {
	color: #007bff;
	font-weight: bold;
}
.card-body a:hover {
	text-decoration: none;
}
.card {
	/* Add margin bottom for spacing between cards */
	margin: 5px;
}

.row{
  display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
    align-content: center;
    justify-content: center;
    align-items: center;
}